html, body {
    font-family: "Cormorant Garamond";
}

#header {
    font-size: 20px;
    font-weight: 600;
}
#subheader {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.siteplan {
    height: 90%;
    position: absolute;
    right: 10px;
    top: 0px;
}

.sectioncut {
    width: 40%;
    position: absolute;
    right: 10px;
    top: 200px;
}


#siteplan-click:hover, #sectioncut-click:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.clickable {
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 0;
}

p {
    display: none;
}

.timeline-wrapper {
    width: 100%;
    position: fixed;
    bottom: 30px;
    text-align: center; 
    justify-content: space-evenly;
    display: flex;
}

svg{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

path {
	fill: none;
	stroke: #999;
}
circle {
	fill: none;
	stroke: #aaa;
}