body {
    font-family: "Cormorant Garamond";
}

#header {
    font-size: 20px;
    font-weight: 600;
}
#subheader {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.featureImage {
    height: 90%;
    position: absolute;
    right: 10px;
    top: 0px;
}

ul {
    list-style: none;
    padding-left: 0;
}